@page
@model WebApplication.Pages.Pedidos.EditModel
@{
    
}
<body style="background-color:lightgray;">
    <div id="AppEdit" class="container" data-entity="@JsonSerializer.Serialize(Model.Entity)" v-cloak>
        <div class="card">
            <div class="card-header">
                nuevo
            </div>
            <div class="card-body">
                <form id="FormEdit">
                    <input type="hidden" asp-for="@Model.Entity.PedidoId" v-model="Entity.PedidoId" />
                    <label asp-for="Entity.PedidoId" style="font-size:x-large;" v-model="Entity.PedidoId"> Pedido # @Model.id</label>
                    <br />

                    <div class="card-body" style="float:left;">

                        <label for="Entity.ProductoId" class="form-label">Producto</label>
                        <div class="form-group mb-3" style="width:400px;">
                            <select class="form-select" asp-for="Entity.ProductoId" v-model="Entity.ProductoId"
                                    asp-items="@(new SelectList(Model.ProductosLista,"ProductoId", "Producto"))"
                                    required>
                                <option value=""></option>
                            </select>
                        </div>

                        <div class="form-group mb-3" style="width:200px;">
                            <label for="Entity.Cantidad" class="form-label">Cantidad</label>
                            <input type="number" class="form-control" asp-for="Entity.Cantidad" v-model="Entity.Cantidad" required />
                        </div>

                        <div class="col-4">
                            <button type="button" class="btn btn-primary" @@Click="Save" style="font-size:x-large;">
                                Agregar
                            </button>
                        </div> <br />

                        <div class="col-4">
                            <a class="btn btn-outline-secondary" asp-page="ViewDetails" asp-route-id="@Model.Entity.PedidoId">
                                Terminar
                            </a>

                        </div>
                    </div>

                    <div class="card-body" style="float: left;">

                        <table class="table table-hover">
                            <thead>
                                <tr>

                                    <th>Cantidad</th>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                    <th>Acumulado</th>
                                    <th>Id</th>
                                    <th>Quitar</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.GridList)
                                {
                                <tr>

                                    <td>@item.Cantidad</td>
                                    <td>@item.Productos.Producto</td>
                                    <td> @item.Productos.Precio</td>
                                    <td>@item.Acumulado</td>
                                    <td>@item.PedidoPorProductoId</td>
                                    <td>
                                        <button type="button" class="btn btn-primary"
                                                onclick="PedidosEdit.OnClickEliminar(@item.PedidoPorProductoId)">
                                            <i class='bx bx-trash'></i>
                                        </button>
                                    </td>
                                </tr>
                                }

                            </tbody>
                        </table>
                        <div class="card-body" style="float:right; font-size:x-large">
                            Subtotal ₡: <label> @Model.EntityP.Subtotal</label><br />
                            IVA ₡: <label>  @Model.EntityP.IVA</label><br />
                            Total ₡: <label> @Model.EntityP.Total</label><br />
                        </div>
                    </div>

                </form>

            </div>

            


        </div>
    </div>


   
</body>
@section Scripts{

    <script defer src="~/App/Pedidos/Edit.js"></script>

}
